@mixin flex ($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  @include flex(center, space-around, column);
}

.user-input{
  @include flex(space-around, space-around, column);
  height: 50vh;
  padding: 5%;

  #recipe-input{
    padding: 1rem;
  }

  #submit{
    padding: 1rem 2rem;
  }
}

.slideshow{
  height: 50vh;
  @include flex(space-around, center, row);

  div{
    border: 2px solid black;
    width: 80%;
    height: 90%;
    @include flex(center, center, row);
  }

  button{
    padding: 1rem;
  }
}