<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/account.css">
</head>
<body>
    <div class="side-img-1">
        <img src="https://i.imgur.com/ok9sJE7.jpg" alt="">
    </div>
    <div class="account">
        <div>
            <form method ="POST">
                <div>
                    {% csrf_token %}
                    {{form.as_p}}
                </div>
                <button>Login</button>
            </form>
            <a href="{% url 'userRegistrationPage' %}">Don't Have An Account?</a>
        </div>
    </div>
</body>
</html>